// 
// Color overrides
//

// Bootstrap Color Overrides

$primary: #52b788; // Main brand color
$secondary: #0096c7; // Supporting color
$success: #c6dadc; // Success messages, notifications
$info: #ffc300; // Informational elements
$warning: #c3d8da; // Warnings
$danger: #c3d7d9; // Errors, alerts

$neutral: #F8F9FA; // off-white for backgrounds
$darkneutral: #212529; // charcoal for text


// Additional UI Colors
$light: lighten($primary, 20%);
$dark: darken($primary, 20%);

// Theme color mapping
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);
