@using Microsoft.AspNetCore.Identity
@using ShareSmallBiz.Portal.Data

@inject SignInManager<ShareSmallBizUser> SignInManager
@inject UserManager<ShareSmallBizUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Sections/Meta/_metatags")
    <link href="/dist/css/ShareSmallBiz.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("PageStyles", required: false)
    @await RenderSectionAsync("HeadScripts", required: false)
</head>
<body>
    @await Html.PartialAsync("Sections/NavBar/_navbar")
    <!-- Navbar -->
    <!-- Main Container -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
                @if (User.Identity.IsAuthenticated)
                {
                }
                else
                {
                    @await Html.PartialAsync("Sections/_whyJoin")
                }
            </div>

            <!-- Main Content Area -->
            <main class="col-md-9 col-lg-8">
                @RenderBody()
                <hr class="m-0" />
            </main>

            <!-- Sidebar (Right) -->
            <aside class="col-md-3 col-lg-2 d-none d-md-block bg-light">
                @if (User.Identity.IsAuthenticated)
                {
                }
                else
                {
                    <!-- Call to Action -->
                    <section class="bg-light py-5">
                        <div class="container text-center">
                            <h2>Join ShareSmallBiz Today</h2>
                            <p class="text-muted">Get started for free and start collaborating with businesses worldwide.</p>
                            <a href="/Identity/Account/Login" class="btn btn-primary btn-lg"><i class="bi bi-arrow-right-circle"></i> Sign Up Now</a>
                        </div>
                    </section>
                }
            </aside>
        </div>
    </div>
    <section>
        <p></p>
        <p> </p>
    </section>
    @await Html.PartialAsync("Sections/Footer/_footer")
    @await Html.PartialAsync("Sections/Footer/_footer_scripts")
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("PageScripts", required: false)
</body>
</html>