@using ShareSmallBiz.Portal.Infrastructure.Models
@model DiscussionListModel
@{
    ViewData["Title"] = $"{Model.Description} ";
    var user = User.Identity;
}

<div class="container mt-4">
    <h1 class="text-center mb-4">
        <i class="bi bi-chat-dots-fill"></i> @Model.Description
    </h1>

    @if (user != null && user.IsAuthenticated)
    {
        <div class="text-center mb-4">
            <a href="/Forum/Post/create" class="btn btn-primary btn-lg">
                <i class="bi bi-chat-dots me-2"></i> Create Discussion
            </a>
        </div>
    }

    <!-- Posts Container -->
    <section>
        @Html.Partial("_PostListCards", Model)
    </section>

@section Scripts {
    <script>
    </script>
}
